html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif;
  background: var(--color-white);
  color: var(--color-black);
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: #FAFAFA;
  --color-black: #272727;
  --color-aqua: #8b8b8b;
  --color-aqua-hover: #ffba00; 
  --color-blue: #007084;
}

*,
*::before,
*::after {
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}