/* app/portfolio/page.module.css */
.wrapper {
  /* odsazení zleva i zprava */
  padding-left: 10rem;
  padding-right: 10rem;

  /* stejné mezery nahoře i dole */
  margin-top: 2rem;
  margin-bottom: 2rem;
}
